@import "tailwindcss";

@layer base {
  html {
    font-family: var(--font-mono);
  }
  h1 {
    font-size: var(--text-4xl);
  }
  h2 {
    font-size: var(--text-4xl);
    font-weight: var(--font-bold);
  }
  code {
    border-radius: var(--radius-sm);
    padding: 4px 8px;
    background-color: var(--color-neutral-800);
  }
}

@layer components {
  .btn {
    border-radius: var(--radius-lg);
    padding: 3px 8px;
    font-size: var(--text-lg);
    font-weight: var(--font-medium);
    color: var(--color-black);
    background-color: var(--color-white);
    cursor: pointer;
    transition: all 0.2s var(--ease-in-out);
  }
  .btn:hover {
    background-color: var(--color-neutral-200);
    transition: all 0.2s var(--ease-in-out);
  }
}
